In [6]:
import csv
with open("Business_Data.csv") as f:
    reader=csv.DictReader (f)
    Business_data= list (reader)
for index in range (5):
    print (Business_data[index])

{'Series_reference': 'BDCQ.SF1AA2CA', 'Period': '2016.06', 'Data_value': '1116.386', 'Suppressed': '', 'STATUS': 'F', 'UNITS': 'Dollars', 'Magnitude': '6', 'Subject': 'Business Data Collection - BDC', 'Group': 'Industry by financial variable (NZSIOC Level 2)', 'Series_title_1': 'Sales (operating income)', 'Series_title_2': 'Forestry and Logging', 'Series_title_3': 'Current prices', 'Series_title_4': 'Unadjusted', 'Series_title_5': ''}
{'Series_reference': 'BDCQ.SF1AA2CA', 'Period': '2016.09', 'Data_value': '1070.874', 'Suppressed': '', 'STATUS': 'F', 'UNITS': 'Dollars', 'Magnitude': '6', 'Subject': 'Business Data Collection - BDC', 'Group': 'Industry by financial variable (NZSIOC Level 2)', 'Series_title_1': 'Sales (operating income)', 'Series_title_2': 'Forestry and Logging', 'Series_title_3': 'Current prices', 'Series_title_4': 'Unadjusted', 'Series_title_5': ''}
{'Series_reference': 'BDCQ.SF1AA2CA', 'Period': '2016.12', 'Data_value': '1054.408', 'Suppressed': '', 'STATUS': 'F', 'UNITS': 'Dollars', 'Magnitude': '6', 'Subject': 'Business Data Collection - BDC', 'Group': 'Industry by financial variable (NZSIOC Level 2)', 'Series_title_1': 'Sales (operating income)', 'Series_title_2': 'Forestry and Logging', 'Series_title_3': 'Current prices', 'Series_title_4': 'Unadjusted', 'Series_title_5': ''}
{'Series_reference': 'BDCQ.SF1AA2CA', 'Period': '2017.03', 'Data_value': '1010.665', 'Suppressed': '', 'STATUS': 'F', 'UNITS': 'Dollars', 'Magnitude': '6', 'Subject': 'Business Data Collection - BDC', 'Group': 'Industry by financial variable (NZSIOC Level 2)', 'Series_title_1': 'Sales (operating income)', 'Series_title_2': 'Forestry and Logging', 'Series_title_3': 'Current prices', 'Series_title_4': 'Unadjusted', 'Series_title_5': ''}
{'Series_reference': 'BDCQ.SF1AA2CA', 'Period': '2017.06', 'Data_value': '1233.7', 'Suppressed': '', 'STATUS': 'F', 'UNITS': 'Dollars', 'Magnitude': '6', 'Subject': 'Business Data Collection - BDC', 'Group': 'Industry by financial variable (NZSIOC Level 2)', 'Series_title_1': 'Sales (operating income)', 'Series_title_2': 'Forestry and Logging', 'Series_title_3': 'Current prices', 'Series_title_4': 'Unadjusted', 'Series_title_5': ''}

In [7]:
Business_data[2]

{'Series_reference': 'BDCQ.SF1AA2CA',
 'Period': '2016.12',
 'Data_value': '1054.408',
 'Suppressed': '',
 'STATUS': 'F',
 'UNITS': 'Dollars',
 'Magnitude': '6',
 'Subject': 'Business Data Collection - BDC',
 'Group': 'Industry by financial variable (NZSIOC Level 2)',
 'Series_title_1': 'Sales (operating income)',
 'Series_title_2': 'Forestry and Logging',
 'Series_title_3': 'Current prices',
 'Series_title_4': 'Unadjusted',
 'Series_title_5': ''}

We want to get data on the key "Period"

In [8]:
Business_data[2]['Period']

'2016.12'

In [9]:
print ([row["Period"] for row in Business_data][:100]) #Cutting it at 50 for readability

['2016.06', '2016.09', '2016.12', '2017.03', '2017.06', '2017.09', '2017.12', '2018.03', '2018.06', '2018.09', '2018.12', '2019.03', '2019.06', '2019.09', '2019.12', '2020.03', '2020.06', '2020.09', '2020.12', '2021.03', '2021.06', '2021.09', '2021.12', '2022.03', '2022.06', '2022.09', '2022.12', '2023.03', '2023.06', '2016.06', '2016.09', '2016.12', '2017.03', '2017.06', '2017.09', '2017.12', '2018.03', '2018.06', '2018.09', '2018.12', '2019.03', '2019.06', '2019.09', '2019.12', '2020.03', '2020.06', '2020.09', '2020.12', '2021.03', '2021.06', '2021.09', '2021.12', '2022.03', '2022.06', '2022.09', '2022.12', '2023.03', '2023.06', '2016.06', '2016.09', '2016.12', '2017.03', '2017.06', '2017.09', '2017.12', '2018.03', '2018.06', '2018.09', '2018.12', '2019.03', '2019.06', '2019.09', '2019.12', '2020.03', '2020.06', '2020.09', '2020.12', '2021.03', '2021.06', '2021.09', '2021.12', '2022.03', '2022.06', '2022.09', '2022.12', '2023.03', '2023.06', '2016.06', '2016.09', '2016.12', '2017.03', '2017.06', '2017.09', '2017.12', '2018.03', '2018.06', '2018.09', '2018.12', '2019.03', '2019.06']

In [12]:
import pandas as pd
df = pd.DataFrame(Business_data)
df.head()

,Series_reference,Period,Data_value,Suppressed,STATUS,UNITS,Magnitude,Subject,Group,Series_title_1,Series_title_2,Series_title_3,Series_title_4,Series_title_5
0,BDCQ.SF1AA2CA,2016.06,1116.386,,F,Dollars,6,Business Data Collection - BDC,Industry by financial variable (NZSIOC Level 2),Sales (operating income),Forestry and Logging,Current prices,Unadjusted,
1,BDCQ.SF1AA2CA,2016.09,1070.874,,F,Dollars,6,Business Data Collection - BDC,Industry by financial variable (NZSIOC Level 2),Sales (operating income),Forestry and Logging,Current prices,Unadjusted,
2,BDCQ.SF1AA2CA,2016.12,1054.408,,F,Dollars,6,Business Data Collection - BDC,Industry by financial variable (NZSIOC Level 2),Sales (operating income),Forestry and Logging,Current prices,Unadjusted,
3,BDCQ.SF1AA2CA,2017.03,1010.665,,F,Dollars,6,Business Data Collection - BDC,Industry by financial variable (NZSIOC Level 2),Sales (operating income),Forestry and Logging,Current prices,Unadjusted,
4,BDCQ.SF1AA2CA,2017.06,1233.7,,F,Dollars,6,Business Data Collection - BDC,Industry by financial variable (NZSIOC Level 2),Sales (operating income),Forestry and Logging,Current prices,Unadjusted,

In [13]:
df ["Period"]

0       2016.06
1       2016.09
2       2016.12
3       2017.03
4       2017.06
         ...
6910    2022.06
6911    2022.09
6912    2022.12
6913    2023.03
6914    2023.06
Name: Period, Length: 6915, dtype: object

In [14]:
df ["Subject"]

0       Business Data Collection - BDC
1       Business Data Collection - BDC
2       Business Data Collection - BDC
3       Business Data Collection - BDC
4       Business Data Collection - BDC
                     ...
6910    Business Data Collection - BDC
6911    Business Data Collection - BDC
6912    Business Data Collection - BDC
6913    Business Data Collection - BDC
6914    Business Data Collection - BDC
Name: Subject, Length: 6915, dtype: object

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6915 entries, 0 to 6914
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Series_reference  6915 non-null   object
 1   Period            6915 non-null   object
 2   Data_value        6915 non-null   object
 3   Suppressed        6915 non-null   object
 4   STATUS            6915 non-null   object
 5   UNITS             6915 non-null   object
 6   Magnitude         6915 non-null   object
 7   Subject           6915 non-null   object
 8   Group             6915 non-null   object
 9   Series_title_1    6915 non-null   object
 10  Series_title_2    6915 non-null   object
 11  Series_title_3    6915 non-null   object
 12  Series_title_4    6915 non-null   object
 13  Series_title_5    6915 non-null   object
dtypes: object(14)
memory usage: 756.5+ KB

In [16]:
df.index

RangeIndex(start=0, stop=6915, step=1)

In [17]:
df.dtypes

Series_reference    object
Period              object
Data_value          object
Suppressed          object
STATUS              object
UNITS               object
Magnitude           object
Subject             object
Group               object
Series_title_1      object
Series_title_2      object
Series_title_3      object
Series_title_4      object
Series_title_5      object
dtype: object

In [18]:
df.shape

(6915, 14)

In [19]:
df.iloc[3]

Series_reference                                      BDCQ.SF1AA2CA
Period                                                      2017.03
Data_value                                                 1010.665
Suppressed
STATUS                                                            F
UNITS                                                       Dollars
Magnitude                                                         6
Subject                              Business Data Collection - BDC
Group               Industry by financial variable (NZSIOC Level 2)
Series_title_1                             Sales (operating income)
Series_title_2                                 Forestry and Logging
Series_title_3                                       Current prices
Series_title_4                                           Unadjusted
Series_title_5
Name: 3, dtype: object

In [21]:
df.iloc[2:5]

,Series_reference,Period,Data_value,Suppressed,STATUS,UNITS,Magnitude,Subject,Group,Series_title_1,Series_title_2,Series_title_3,Series_title_4,Series_title_5
2,BDCQ.SF1AA2CA,2016.12,1054.408,,F,Dollars,6,Business Data Collection - BDC,Industry by financial variable (NZSIOC Level 2),Sales (operating income),Forestry and Logging,Current prices,Unadjusted,
3,BDCQ.SF1AA2CA,2017.03,1010.665,,F,Dollars,6,Business Data Collection - BDC,Industry by financial variable (NZSIOC Level 2),Sales (operating income),Forestry and Logging,Current prices,Unadjusted,
4,BDCQ.SF1AA2CA,2017.06,1233.7,,F,Dollars,6,Business Data Collection - BDC,Industry by financial variable (NZSIOC Level 2),Sales (operating income),Forestry and Logging,Current prices,Unadjusted,

In [23]:
df.iloc[2:5,5:10]

,UNITS,Magnitude,Subject,Group,Series_title_1
2,Dollars,6,Business Data Collection - BDC,Industry by financial variable (NZSIOC Level 2),Sales (operating income)
3,Dollars,6,Business Data Collection - BDC,Industry by financial variable (NZSIOC Level 2),Sales (operating income)
4,Dollars,6,Business Data Collection - BDC,Industry by financial variable (NZSIOC Level 2),Sales (operating income)

In [25]:
df.loc [:, "Subject"]

0       Business Data Collection - BDC
1       Business Data Collection - BDC
2       Business Data Collection - BDC
3       Business Data Collection - BDC
4       Business Data Collection - BDC
                     ...
6910    Business Data Collection - BDC
6911    Business Data Collection - BDC
6912    Business Data Collection - BDC
6913    Business Data Collection - BDC
6914    Business Data Collection - BDC
Name: Subject, Length: 6915, dtype: object

In [27]:
df.loc[2:6, "Data_value"]

2    1054.408
3    1010.665
4      1233.7
5    1282.436
6     1290.82
Name: Data_value, dtype: object

In [31]:
df.loc[df["Data_value"] < "1200"].head()

,Series_reference,Period,Data_value,Suppressed,STATUS,UNITS,Magnitude,Subject,Group,Series_title_1,Series_title_2,Series_title_3,Series_title_4,Series_title_5
0,BDCQ.SF1AA2CA,2016.06,1116.386,,F,Dollars,6,Business Data Collection - BDC,Industry by financial variable (NZSIOC Level 2),Sales (operating income),Forestry and Logging,Current prices,Unadjusted,
1,BDCQ.SF1AA2CA,2016.09,1070.874,,F,Dollars,6,Business Data Collection - BDC,Industry by financial variable (NZSIOC Level 2),Sales (operating income),Forestry and Logging,Current prices,Unadjusted,
2,BDCQ.SF1AA2CA,2016.12,1054.408,,F,Dollars,6,Business Data Collection - BDC,Industry by financial variable (NZSIOC Level 2),Sales (operating income),Forestry and Logging,Current prices,Unadjusted,
3,BDCQ.SF1AA2CA,2017.03,1010.665,,F,Dollars,6,Business Data Collection - BDC,Industry by financial variable (NZSIOC Level 2),Sales (operating income),Forestry and Logging,Current prices,Unadjusted,
15,BDCQ.SF1AA2CA,2020.03,1073.017,,F,Dollars,6,Business Data Collection - BDC,Industry by financial variable (NZSIOC Level 2),Sales (operating income),Forestry and Logging,Current prices,Unadjusted,

In [36]:
df.loc[df["Data_value"] < "1200", "Group" ].head(10)

0     Industry by financial variable (NZSIOC Level 2)
1     Industry by financial variable (NZSIOC Level 2)
2     Industry by financial variable (NZSIOC Level 2)
3     Industry by financial variable (NZSIOC Level 2)
15    Industry by financial variable (NZSIOC Level 2)
16    Industry by financial variable (NZSIOC Level 2)
29    Industry by financial variable (NZSIOC Level 2)
30    Industry by financial variable (NZSIOC Level 2)
31    Industry by financial variable (NZSIOC Level 2)
32    Industry by financial variable (NZSIOC Level 2)
Name: Group, dtype: object

In [41]:
print (df.loc[df["Data_value"] < "1200", "Group" ]==1200)

0       True
1       True
2       True
3       True
15      True
        ...
6821    True
6871    True
6873    True
6878    True
6880    True
Name: Group, Length: 1013, dtype: bool

In [42]:
df["Data_value"].value_counts

<bound method IndexOpsMixin.value_counts of 0       1116.386
1       1070.874
2       1054.408
3       1010.665
4         1233.7
          ...
6910     579.955
6911     609.161
6912     518.615
6913      663.63
6914     617.507
Name: Data_value, Length: 6915, dtype: object>

In [44]:
df['On_B_Line'] = df['Series_reference'].str.contains('B', regex=False)

In [46]:
df

,Series_reference,Period,Data_value,Suppressed,STATUS,UNITS,Magnitude,Subject,Group,Series_title_1,Series_title_2,Series_title_3,Series_title_4,Series_title_5,On_B_Line
0,BDCQ.SF1AA2CA,2016.06,1116.386,,F,Dollars,6,Business Data Collection - BDC,1200,Sales (operating income),Forestry and Logging,Current prices,Unadjusted,,True
1,BDCQ.SF1AA2CA,2016.09,1070.874,,F,Dollars,6,Business Data Collection - BDC,1200,Sales (operating income),Forestry and Logging,Current prices,Unadjusted,,True
2,BDCQ.SF1AA2CA,2016.12,1054.408,,F,Dollars,6,Business Data Collection - BDC,1200,Sales (operating income),Forestry and Logging,Current prices,Unadjusted,,True
3,BDCQ.SF1AA2CA,2017.03,1010.665,,F,Dollars,6,Business Data Collection - BDC,1200,Sales (operating income),Forestry and Logging,Current prices,Unadjusted,,True
4,BDCQ.SF1AA2CA,2017.06,1233.7,,F,Dollars,6,Business Data Collection - BDC,Industry by financial variable (NZSIOC Level 2),Sales (operating income),Forestry and Logging,Current prices,Unadjusted,,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6910,BDCQ.SF8RSCA,2022.06,579.955,,F,Dollars,6,Business Data Collection - BDC,Industry by financial variable (NZSIOC Level 1),Operating profit,"Arts, Recreation and Other Services",Current,Unadjusted,,True
6911,BDCQ.SF8RSCA,2022.09,609.161,,F,Dollars,6,Business Data Collection - BDC,Industry by financial variable (NZSIOC Level 1),Operating profit,"Arts, Recreation and Other Services",Current,Unadjusted,,True
6912,BDCQ.SF8RSCA,2022.12,518.615,,F,Dollars,6,Business Data Collection - BDC,Industry by financial variable (NZSIOC Level 1),Operating profit,"Arts, Recreation and Other Services",Current,Unadjusted,,True
6913,BDCQ.SF8RSCA,2023.03,663.63,,F,Dollars,6,Business Data Collection - BDC,Industry by financial variable (NZSIOC Level 1),Operating profit,"Arts, Recreation and Other Services",Current,Unadjusted,,True
6914,BDCQ.SF8RSCA,2023.06,617.507,,F,Dollars,6,Business Data Collection - BDC,Industry by financial variable (NZSIOC Level 1),Operating profit,"Arts, Recreation and Other Services",Current,Unadjusted,,True

In [48]:
df['On_B_Line'].value_counts(normalize=True)

On_B_Line
True    1.0
Name: proportion, dtype: float64

In [49]:
df.columns

Index(['Series_reference', 'Period', 'Data_value', 'Suppressed', 'STATUS',
       'UNITS', 'Magnitude', 'Subject', 'Group', 'Series_title_1',
       'Series_title_2', 'Series_title_3', 'Series_title_4', 'Series_title_5',
       'On_B_Line'],
      dtype='object')

In [51]:
[col.strip() for col in df.columns]

['Series_reference',
 'Period',
 'Data_value',
 'Suppressed',
 'STATUS',
 'UNITS',
 'Magnitude',
 'Subject',
 'Group',
 'Series_title_1',
 'Series_title_2',
 'Series_title_3',
 'Series_title_4',
 'Series_title_5',
 'On_B_Line']

Alternative way of doing the above immediate task

In [52]:
df.columns.str.strip()

Index(['Series_reference', 'Period', 'Data_value', 'Suppressed', 'STATUS',
       'UNITS', 'Magnitude', 'Subject', 'Group', 'Series_title_1',
       'Series_title_2', 'Series_title_3', 'Series_title_4', 'Series_title_5',
       'On_B_Line'],
      dtype='object')

Renaming Columns

In [80]:
 df.rename(columns={"Period": "Year", "Subject": "Category"}, inplace=True)
 df.head(2)

,Series_reference,Year,Data_value,STATUS,UNITS,Magnitude,Category,Group,Series_title_1,Series_title_2,Series_title_3,Series_title_4,Series_title_5,On_B_Line
0,BDCQ.SF1AA2CA,2016.06,1116.386,F,Dollars,6,Business Data Collection - BDC,1200,Sales (operating income),Forestry and Logging,Current prices,Unadjusted,,True
1,BDCQ.SF1AA2CA,2016.09,1070.874,F,Dollars,6,Business Data Collection - BDC,1200,Sales (operating income),Forestry and Logging,Current prices,Unadjusted,,True

Dropping Columns


let's assume we want to drop the column "Magnitude"

In [82]:
df.drop("Magnitude", axis=1)  #This will delete the column "Magnitude"

To Permanently delete the row:

In [83]:
df=df.drop("Magnitude", axis=1) 
df.head(2)

,Series_reference,Year,Data_value,STATUS,UNITS,Category,Group,Series_title_1,Series_title_2,Series_title_3,Series_title_4,Series_title_5,On_B_Line
0,BDCQ.SF1AA2CA,2016.06,1116.386,F,Dollars,Business Data Collection - BDC,1200,Sales (operating income),Forestry and Logging,Current prices,Unadjusted,,True
1,BDCQ.SF1AA2CA,2016.09,1070.874,F,Dollars,Business Data Collection - BDC,1200,Sales (operating income),Forestry and Logging,Current prices,Unadjusted,,True

In [84]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6915 entries, 0 to 6914
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Series_reference  6915 non-null   object
 1   Year              6915 non-null   object
 2   Data_value        6915 non-null   object
 3   STATUS            6915 non-null   object
 4   UNITS             6915 non-null   object
 5   Category          6915 non-null   object
 6   Group             6915 non-null   object
 7   Series_title_1    6915 non-null   object
 8   Series_title_2    6915 non-null   object
 9   Series_title_3    6915 non-null   object
 10  Series_title_4    6915 non-null   object
 11  Series_title_5    6915 non-null   object
 12  On_B_Line         6915 non-null   bool
dtypes: bool(1), object(12)
memory usage: 655.2+ KB

In [85]:
print(df["Year"].dtype)

object

Chnaging Column Data Type

In [87]:
df.loc[:5, "Year"].astype(float)

0    2016.06
1    2016.09
2    2016.12
3    2017.03
4    2017.06
5    2017.09
Name: Year, dtype: float64

In [89]:
#We can also use map() method
df.loc[:5,"Year"].map(float)

0    2016.06
1    2016.09
2    2016.12
3    2017.03
4    2017.06
5    2017.09
Name: Year, dtype: float64

In [90]:
df["Year"] = df ["Year"].map(float) #This will permanently change the data type

In [91]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6915 entries, 0 to 6914
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Series_reference  6915 non-null   object
 1   Year              6915 non-null   float64
 2   Data_value        6915 non-null   object
 3   STATUS            6915 non-null   object
 4   UNITS             6915 non-null   object
 5   Category          6915 non-null   object
 6   Group             6915 non-null   object
 7   Series_title_1    6915 non-null   object
 8   Series_title_2    6915 non-null   object
 9   Series_title_3    6915 non-null   object
 10  Series_title_4    6915 non-null   object
 11  Series_title_5    6915 non-null   object
 12  On_B_Line         6915 non-null   bool
dtypes: bool(1), float64(1), object(11)
memory usage: 655.2+ KB

In [95]:
date_sample = df['Year'].sample(n=10, random_state=0)
date_sample

5027    2022.09
4172    2019.03
3358    2022.03
2670    2016.12
1746    2017.12
1985    2019.09
4494    2019.12
5256    2023.03
1748    2018.06
202     2023.06
Name: Year, dtype: float64

In [94]:
df["Year"]

0       2016.06
1       2016.09
2       2016.12
3       2017.03
4       2017.06
         ...
6910    2022.06
6911    2022.09
6912    2022.12
6913    2023.03
6914    2023.06
Name: Year, Length: 6915, dtype: float64

In [97]:
df.head()

,Series_reference,Year,Data_value,STATUS,UNITS,Category,Group,Series_title_1,Series_title_2,Series_title_3,Series_title_4,Series_title_5,On_B_Line
0,BDCQ.SF1AA2CA,2016.06,1116.386,F,Dollars,Business Data Collection - BDC,1200,Sales (operating income),Forestry and Logging,Current prices,Unadjusted,,True
1,BDCQ.SF1AA2CA,2016.09,1070.874,F,Dollars,Business Data Collection - BDC,1200,Sales (operating income),Forestry and Logging,Current prices,Unadjusted,,True
2,BDCQ.SF1AA2CA,2016.12,1054.408,F,Dollars,Business Data Collection - BDC,1200,Sales (operating income),Forestry and Logging,Current prices,Unadjusted,,True
3,BDCQ.SF1AA2CA,2017.03,1010.665,F,Dollars,Business Data Collection - BDC,1200,Sales (operating income),Forestry and Logging,Current prices,Unadjusted,,True
4,BDCQ.SF1AA2CA,2017.06,1233.7,F,Dollars,Business Data Collection - BDC,Industry by financial variable (NZSIOC Level 2),Sales (operating income),Forestry and Logging,Current prices,Unadjusted,,True

In [102]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6915 entries, 0 to 6914
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Series_reference  6915 non-null   object
 1   Year              6915 non-null   float64
 2   Data_value        6915 non-null   object
 3   STATUS            6915 non-null   object
 4   UNITS             6915 non-null   object
 5   Category          6915 non-null   object
 6   Group             6915 non-null   object
 7   Series_title_1    6915 non-null   object
 8   Series_title_2    6915 non-null   object
 9   Series_title_3    6915 non-null   object
 10  Series_title_4    6915 non-null   object
 11  Series_title_5    6915 non-null   object
 12  On_B_Line         6915 non-null   bool
dtypes: bool(1), float64(1), object(11)
memory usage: 655.2+ KB

In [103]:
df.describe() #Calculates the basic summary statistics for each columns for 
               # for us automatically

              Year
count  6915.000000
mean   2019.473197
std       2.111185
min    2016.060000
25%    2018.030000
50%    2019.120000
75%    2021.090000
max    2023.060000

.mode() -- the mode of the column

.count() -- the count of the total number of entries in a column

.std() -- the standard deviation for the column

.var() -- the variance for the column

.sum() -- the sum of all values in the column

.cumsum() -- the cumulative sum, where each cell index contains the sum of all indices lower than, and including, itself.

In [104]:
#Summary Statistics for Categorical Columns
df["STATUS"]

0       F
1       F
2       F
3       F
4       F
       ..
6910    F
6911    F
6912    F
6913    F
6914    F
Name: STATUS, Length: 6915, dtype: object